@charset "utf-8";

*{
    box-sizing:border-box;
}

/*--------------GRID--------------*/
main{
    display:grid;
    grid-template-columns:
        "h h h h"
        "n n n n"
        "a a a a"
        "f f f f"
    ;
}
header{
    grid-template-areas:"h";
}
nav{
    grid-template-areas:"n";
}
article{
    grid-template-areas:"a";
}
footer{
    grid-template-areas:"f";
}
/*--------------GRID--------------*/
main, header, article, footer{
    border:1px solid gray;
}
body{
    font-family: 'Nunito', sans-serif;
}
main{
    width:80%;
    max-width:800px;
    margin:auto;
}
nav{
    background-color:black;
    padding:10px;
    border-top:1px solid lightgrey;
}
nav ul{
    margin-top:0;
    margin-bottom:0;
    padding-left:0;
    width:100%;
}
nav ul li{
    background-color:black;
    list-style-type:none;
    float:left;
}
nav ul li a{
    color:white;
    text-decoration:none;
    padding:5px;
}
#nav_hover:hover{
    background-color:white;
    color:black;
}
header, footer{
    text-align:center;
}
#zene{
    border:1px solid black;
    margin:5px;
}
/*#zene button{
    float:right;
}*/